header {
    background-color: antiquewhite;
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
}

li {
    display: inline;
    /* padding: 20px; */
    margin: 20px;
    background-color: burlywood;
}

ul {
    margin: 20px;
}

nav {
    position: absolute;
    left: 150px;
    top: 40px;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: antiquewhite;
    width: 100vw;
    height: 50px;
    left: 0;
}

main {
    padding-top: 80px;
    padding-bottom: 50px;
}

#copyright {
    position: absolute;
    bottom: 35px;
    right: 35px;
}

img#logo {
    height: 100px;
    width: 150px;
}

div#account {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 200px;
    background-color: cadetblue;
}

button#login {
    position: absolute;
    top: 40px;
    right: 80px;
}