section {
    width: 50%;
    height: 50vh;
    float: left;
}

#asset-focus{
    background-color: rebeccapurple;
}

#asset-list{
    background-color: goldenrod;
}

@media (max-width: 800px) {
    section {
        width: 100%;
        height: unset;
    }
    nav {
        left: 150px;
    }
    li {
        margin: 10%;
    }
}